header {
    font-family: 'Madimi One';
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}

.container > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.container > ul > li{
    list-style: none;
}

.container > ul > li > a {
    text-decoration: none;
    color: var(--branco);
}

.nome {
    color: var(--branco);
    font-weight: 600;
    font-size: 30px;
}

.modos {
    cursor: pointer;
}

.mobile {
    display: flex;
    justify-content: start;
    margin-top: -35px;
    margin-left: 10px;
    display: none;
}

.frase_robo_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--branco);
    border-radius: 5px;
    width: 25%;
    font-size: 10px;
    text-align: center;
    display: none;
    position: fixed;
    animation: transparent 2s linear forwards;
}

.button_robo {
    background-color: rgb(231, 19, 19);
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 2px;
    color: var(--branco);
    animation: robotanimado 1s linear forwards;
}

.button_robo:hover {
    background-color: rgb(214, 124, 7);
}

.robo_principal {
    animation: robo .5s linear forwards;
}

.desligar {
    background-color: rgb(0, 153, 255);
    color: var(--branco);
    border: none;
    border-radius: 2Wpx;
    animation: audio 1.5s linear forwards;
}

.comecar{
    background-color: rgb(34, 116, 38);
    color: var(--branco);
    border: none;
    border-radius: 2px;
    padding: 2px;
    animation:tempo 7s linear both;
}

.apresentacao {
    display: flex;
    justify-content: end;
    display: none;
    animation: tutor 1s linear forwards;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    color: var(--branco);
}

@keyframes robotanimado {
    0% {
        width: 40px;
        height: 40px;
        background-color: rgb(255, 217, 0);
      }
      100% {
        width: 20px;
        height: 25px;
        background-color: red;
        transform: rotate(360deg);
      }
}

@keyframes robo {
    0% {
        width: 0px;
        height: 0px;
    }
    100%{
        width: 44px;
        height: 44px;
        transform: rotate(360deg);
    }
}

@keyframes border {
    0% {
        box-shadow: 2px 5px 14px 0px rgb(93, 93, 253);
    }
    100% {
        box-shadow: 2px 5px 28px 0px rgb(121, 57, 180);
    }
}

@keyframes transparent {
    0%{
        background-color: transparent;
    }
    100% {
        background-image: var(--branco);
    }
}

@keyframes audio {
    0% {
        width: 20px;
        height: 10px;
    }
    100%{
        width: 40px;
        height: 20px;
    }
}

@keyframes tutor {
    0%{
        background-color: transparent;
    }
    100%{
        background-image: linear-gradient(to bottom, rgb(29, 29, 29), rgb(37, 78, 155));
    }
}

@keyframes  tempo {
    0% {
        background-color: transparent;
        color: transparent;
    }
    100% {
        background-color: rgb(34, 116, 38)
    }
}


@media (max-width:700px) {
    .mobile {
        display: block;
        margin-top: 20px;
        margin-left: 5px;
    }
    .modos  {
        display: flex;
        justify-content: end;
        margin-top: -40px;
        margin-right: 10px;
        gap: 10px;
    }
    button {
        background-color: rgb(217, 255, 0);
        border: none;
        border: 1px solid #9179ff;
        border-radius: 5px;
    }
    #mobile {
        display: none;
    }
    #menufechado {
        display: none;
    }
    .mobile > div > ul {
        background-color: var(--branco);
        margin-left: -10px;
    }
    .mobile> div > ul > li{
        list-style: none;
        margin-bottom: 1em;
    } 
    .mobile> div > ul > li > a {
        color: #000;
        text-decoration: none;
    }
    .container {
        display: none;
    }
}

