main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-family: 'Truculenta';
    width: 100%;
    margin-bottom: 10em;
}


.frase {
    position: absolute;
}

.frase > h1{
    color: var(--branco);
    font-size: 90px;
}

.frase > p {
    color: var(--branco);
    text-align: center;
    font-size: 30px;
}