section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_2 {
    display: flex;
    justify-content: space-evenly;
    max-width: 550px;
    gap: 1em;
}

.perfil {
    width: 50%;
    background-color: rgb(27, 80, 150);
    background-color: 10px;
    border-radius: 39% 61% 45% 55% / 43% 32% 68% 57% ;
}